<script src="/static/js/utils.js"></script>
<script src="/static/js/state.js"></script>
<script src="/static/js/ui/config.js"></script>
<script src="/static/js/ui/lobby.js"></script>
<script src="/static/js/ui/animation.js"></script>
<script src="/static/js/ui/setup.js"></script>
<script src="/static/js/ui/table.js"></script>
<script src="/static/js/ui/log.js"></script>
<script src="/static/js/ui/admin.js"></script>
<script src="/static/js/ui/bootstrap.js"></script>
<script src="/static/js/app.js"></script>
